.customGrid {
    background: rgb(250, 250, 250);
    margin: 2em auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.customGrid [class*="pure-u"] {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    text-align: center;
    padding: 1em 0;
}

.page-title{
    color: white;
    text-align: center;
    font-size: 70px;
}

input {
    width: 100%;
}

.entities {
    padding: 2em;
    text-align: center;
}

html {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

body{
    background: transparent;
}

.jumbotron {
    color: white;
    background-color: transparent !important;
    padding: 0 !important;
}
.simulator-status {
    display: inline-block;
    float: right;
    background: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
}
.simulator-status > .connected{
    color: green;
}

.simulator-status > .disconnected{
    color: red;
}

.entity{
    height: 250px;
    width: 250px;
    border-radius: 40px;
    padding: 15px;
    background-color: #342e37;
    color: white;
    display: inline-block;
    margin: 1em;
    vertical-align: top;
}

.entity-head{
    font-size: 2em;
    color: #e5b769;
    text-align: right;
    height: 50px;

}

.entity-head > i {
    display: inline-block;
    float: right;

}

.custom-btn {
    width: 100%;
}
.entity-command{
    margin-top: 10px;
}

.entity-name{
    display: inline-block;
    float: left;
    color: white;
    width: 160px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #e5b769;
    cursor: pointer;
}